* {
  box-sizing: border-box;
}

body {
  font-family: "Hahmlet", serif;
}

.wrapper {
  background-color: #86a3c3;
}

@keyframes color {
  to {
    filter: hue-rotate(1080deg);
  }
}

@keyframes beat {
  0% {
    transform: scale(1.5, 1.5);
  }
  25% {
    transform: rotateZ(180deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateX(360deg);
  }
  100% {
    transform: scale(1, 1);
  }
}

.card {
  color: white;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 50px;
  transition: all 1.5s;
}

.card:hover {
  animation: color 2s ease-in-out;
  background: white;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: black;
  cursor: pointer;
}

.nav-item {
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
}

.icon-menu {
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-size: 40px;
  color: #330b44;
}

.main-menu {
  list-style-type: none;
  padding: 0px;
  margin: -10px;
  width: 110%;
  background-color: black;
}
.menu-li {
  display: inline-block;
  flex-flow: nowrap;
  font-size: 14px;
}
.nav-item a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

.nav-item a:hover {
  background-color: #86a3c3;
  color: black;
}

h3 {
  margin-top: 0;
}

.profile-image {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  display: none;
}

.show {
  display: block;
}

.icon-menu a {
  text-decoration: none;
}

.form {
  width: 65%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 5px;
}

fieldset {
  margin-top: 20px;
  box-shadow: 5px 5px 5px 0px #330b44;
  border: 3px solid black;
}

input {
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 0.7rem;
  border-radius: 1rem;
  border: 1px solid black;
}

p,
[for="hours"] {
  margin-bottom: 0;
  margin-top: 2rem;
}
fieldset {
  border: 1px solid black;
  border-radius: 10px;
}
label {
  display: block;
  font-size: 1rem;
}
textarea {
  height: 10rem;
  padding: 1rem;
}
select {
  font-size: 1rem;
  margin-top: 0.7rem;
}

.sbtn {
  font-size: 1rem;
  margin: 2rem 0;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #030734;
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 2px 0px black;
  margin-bottom: 30px;
}

.sbtn:disabled {
  cursor: not-allowed;
  background-color: #777;
}

textarea,
select {
  display: block;
  width: 20rem;
  font-family: "Hahmlet", serif;
  border-radius: 10px;
}

h4 {
  font-weight: normal;
}

.map-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px black;
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  background-color: #030734;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 7px;
  margin-bottom: 45px;
  box-shadow: 5px 5px 5px 0px black;
}

.prev {
  margin-right: 15px;
}

.btn:disabled {
  background-color: #777;
  cursor: not-allowed;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  box-shadow: 10px 10px 10px 0px black;
  border-radius: 5px;
}

.cities {
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0px 10px 10px 0px;
  border-radius: 5px;
}

.fnav-item {
  text-align: left;
}

.fmain-menu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: black;
  bottom: 0px;
  left: 0px;
  position: fixed;
}
.fmenu-li {
  display: inline-block;
  font-size: 14px;
}
.fnav-item a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

.fnav-item a:hover {
  background-color: #86a3c3;
  color: black;
}

.footer {
  font-weight: bold;
  font-size: 14px;
  padding-left: 10px;
  color: white;
  display: inline-block;
}
